body {
    font-family: Arial, sans-serif;
    background: url("../1.jpg")no-repeat center center fixed;
    background-size: contain;
}

#landing, #gameArea {
    text-align: center;
    padding: 20px;
    background-color: rgba(240, 255, 255, 0.545);
}

#inventory {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  
}

.inventory-item {
    border: 1px solid #333;
    padding: 10px;
}

.order {
    border: 1px dashed #333;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 228, 196, 0.511);
}

@media (max-width: 600px) {
    #inventory {
        flex-direction: column;
    }
}

